
<div class="container">
 <div class="row">
  <div class=" card col-xs-12 col-sm-11 col-md-18 col-lg-8 mx-auto ">
   <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @micropost.youtube_url.last(11)%>"  allowfullscreen></iframe>
   </div>
     <div class="card-body">
      <h2><%= @micropost.name %></h2>
      <p class="card-text"><%= @micropost.content %></p>
      <% if @micropost.user.id == current_user.id %>
      <%= link_to "編集画面へ", edit_micropost_path(@micropost), class: "btn btn-primary" %>
      <%= link_to "削除する", micropost_path(@micropost), method: :delete, class: "btn btn-primary" %>
      <% end %>
      <div id="likes_buttons_<%= @micropost.id %>">
      <%= render 'likes/like', micropost: @micropost %>
      <p><%= @micropost.created_at%></p>
      </div>
    </div>         
   </div>
  </div>
  
<h4 class="text-center">＜コメント一覧＞</h4>

<table class="table col-lg-8 mx-auto ">
  <thead>
    <tr>
      <th scope="col">ユーザー名</th>
      <th scope="col">内容</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @comments.each do |comment| %>
  <tbody>
    <tr>
      <td><strong><%= comment.user.username %>：</strong></td>
      <td><%= comment.comment_content %></td>
      <% if user_signed_in? && current_user.id == comment.user_id %>
      <td><%= link_to "削除", micropost_comment_path(comment.micropost.id, comment.id), method: :delete %>
    </td>
    <% end %>
    <% end %>
    </tr>
    </tbody>
</table>
<div class="form-group col-lg-8 mx-auto ">
<% if user_signed_in? %>
  <%= form_with model: [@micropost, @comment], local: true do |form| %>
    <%= form.text_area :comment_content, placeholder: "コメントする", rows: "3", class: 'form-control' %>
    <%= form.submit "送信" %>
  <% end %>
<% else %>
  <strong><p>コメントの投稿には新規登録/ログインが必要です</p></strong>
<% end %>
</div>

</div>
</div>
